html {
	font-size: 62.5%;
}

* {
	box-sizing: border-box;

.maincontainer {
	  position: absolute;
	  width: 400px;
	  height: 400px;
	  background-color: #285074;
  }
  
  
  
  
#rectangle { 
		width: 220px;
		height: 120px;
		background: #4da1f7; 
	}
	
#triangle{
	   width: 0; 
	   height: 0;  
	   border-bottom: 140px solid #fcf921; 
	   border-left: 70px solid transparent; 
	   border-right: 70px solid transparent; 
	}
	
